.mainContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.HeaderContainer {
    display: flex;
    flex-direction: row;
    height: 100px;
    column-gap: 10px;
}


.headerLogo {
    width: 20%;
}

.headerBar {
    flex: 1;
}

.allWidgetsColor {
    background-color: silver;
}

.allWidgetsTextSizing {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    font-size: 30px;
}

.mainMiddleContainer {
    display: flex;
    gap: 10px;
    flex: 1;
}

.leftMiddleWidgets, .middleWidgets, .rightMiddleWidgets {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.leftMiddleWidgets {
    width: 20%;
}

.middleWidgets {
    width: 60%;
}

.rightMiddleWidgets {
    width: 19%;
}

.nav {
    height: 500px;
}

.storeLocator {
    height: 100px;
}

.tools {
    height: 100px;
}

.bathSelectionIntro, .ad {
    height: 250px;
}

.typesOfBaths, .relatedProducts {
    height: 460px;
}

.footer {
    height: 90px;
    flex: 1;
}

.mainContainerMobile {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.HeaderContainerMobile {
    height: 50px;
    display: flex;
    gap: 10px;
}

.navMobile {
    height: 50px;
}

.mainMiddleContainerMobile {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.topMiddleWidgetsMobile {
    display: flex;
    gap: 10px;
    height: 200px;
}

.bathSelectionIntroMobile {
    width: 60%;
}

.adMobile {
    width: 40%;
}

.MiddleWidgetsMobile {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.typesOfBathsMobile {
    height: 500px;
}

.relatedProductsMobile {
    height: 250px;
}

.botMiddleWidgetsMobile {
    display: flex;
    gap: 10px;
}

.bottomMiddleWidgetsMobileSize {
    width: 50%;
    height: 100px;
}

.footerMobile {
    height: 100px;
}

@media screen and (max-width: 576px) {
    .mainContainer {
        display: none;
    }
}

@media screen and (min-width: 577px) {
    .mainContainerMobile {
        display: none;
    }
}

