.container1 {
    display: flex;
    justify-content: space-between;
}

.cube1 {
    border: 3px solid black;
    box-shadow: gray 10px 10px 1px 5px;
}

.cube2 {
    border: 3px solid black;
    box-shadow: gray 10px 10px 10px 5px;
}

.cube3 {
    border: 3px solid black;
    box-shadow: gray 10px 10px 10px 10px;
}

.container2 {
    display: flex;
    justify-content: space-between;
}

.cube4 {
    border: 3px solid black;
    box-shadow: silver 10px 10px 5px 5px;
}

.cube5 {
    border: 3px solid black;
    border-radius: 10px;
    box-shadow: gray 10px 10px 1px 5px;
}

.cube6 {
    border: 3px solid black;
    border-radius: 10px;
    box-shadow: silver 10px 10px 5px 5px;
}

.colorGreen {
    background-color: chartreuse;
}

.heightWidht {
    height: 25vh;
    width: 25vh;
}

.flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    gap: 300px;
}

.fontSizeCubes {
    font-size: 20px;
}