.mainContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.widgetsContainer1 {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.widgetsInContainer1Style {
    background-color: coral;
    height: 300px;
    width: 100%;
}

.widgetsTextSize {
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.widgetsInContainer2Style {
    background-color:coral;
    height: 625px;
    width: 100%;
}

.widgetsContainer2 {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

@media screen and (min-width: 0px) and (max-width: 576px) {
    .widgetsContainer2 {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .widgetsContainer1 {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .widgetsInContainer1Style {
        background-color: coral;
        height: 300px;
        width: 100%;
    }

    .widgetsInContainer2Style {
        background-color: cornflowerblue;
        height: 300px;
        width: 100%;
    }
}